nav{

  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  align-items: right;
}
    nav ul{
      width: none;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    nav li{
      height: 50px;
    }
    nav a{
      height: 100%;
      padding: 0 30px;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: black;
    }
    nav a:hover{
      background-color: #f0f0f0;
    }
    nav li:first-child{
      margin-right: auto;
    }
    .sidebar{
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      z-index: 999;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .sidebar li{
      width: 100%;
    }
    .sidebar a{
      width: 100%;
    }
    .logo{
    max-width: 150px;
    }

    .sign{
      margin-left: 200px;
      display: flex;
      align-items: right;
      justify-content: right;
    }
    
    .in{
      display: block;
      width: 100px;
    }
    .menu-button{
      display: none;
    }
    @media(max-width: 800px){
      .hideOnMobile{
        display: none;
      }
      .menu-button{
        display: block;
      }
    }

    /* Styling the dropdown menu */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .dropdown-menu li {
    margin: 0;
  }

  .dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px;
  }

  /* Show the dropdown menu on hover */
  .sidebar li:hover .dropdown-menu {
    display: block;
  }

  

  .sign {
    display: flex;
  }

  .test li:hover .dropdown-menu{
    display: block;
    color: red;
  }

  






